extends ./layout.jade
block contenido
	div(class="container")
		div(class="col-md-4 col-sm-6 col-xs-10  remove-float center-block  big-top-space")
			form(action="/sessions", method="POST")
				div(class="form-group")
					label(for="email") Email
					input(type="text" name="email" placeholder="Email" id="email" class="form-control")
				div(class="form-group")
					label(for="pass") Contraseña
					input(type="password" name="pass" placeholder="Contraseña" id="pass" class="form-control")
				div(class="row")
					div(class="col-xs-12 col-sm-6")
						input(type="submit" value="Iniciar Sesion"  class="btn btn-info")
					div(class="col-xs-12 col-sm-6 text-right")
						a(href="/signup") No tengo cuenta